header {
  background-color: #FFFFFF;
}

header h1 {
  padding: 2%;
}

.bg-body-tertiary {
  background-color: #AAAAAA !important;
}

.nav-link.active {
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
}